@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*  index.html  */
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-brand {
    margin: 0 auto;
}
.profile-icon {
    cursor: pointer;
}

/*  dashboard.php  */
.wrapper {
    display: flex;
    width: 100%;
}
.sidebar {
    width: 250px;
    height: 100vh;
    color: #000;
    padding: 40px;
    background-color: #FFDB58;
    display: block;
}
.sidebar a {
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 10px;
}
.sidebar a:hover {
    background-color: #fce180;
}
.content {
    flex: 1;
    padding: 40px;
}

/* editprofile.php */
.to-dashboard {
    text-decoration: none;
    color: rgb(65, 64, 64);
}
.to-dashboard:hover {
    color: rgb(107, 107, 107);
    text-decoration: underline;
}
form {
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    /* border: 1px solid blue; */
}
.form-control {
    margin-bottom: 15px;
}
.btn-primary, .btn-danger, .btn-secondary {
    background-color: #FFDB58; 
    color: black; 
    border: none;
}
.btn-primary:hover, .btn-danger:hover, .btn-secondary:hover {
    background-color: #fce180;
    color: black; 
}

/* ordhistory.php */
.pagination {
    justify-content: center;
}
.table {
    text-align: center;
    border: 1px solid grey;
}
.table th {
    background-color: #FFDB58; /* Background color for the column headers */
    color: #000; /* Text color for the column headers */
}
.offcanvas {
    background-color: #ffd700; /* Mustard yellow */
    width: 250px; /* Adjust width as needed */
}
.offcanvas-body {
    background-color: #FFDB58;
}
.offcanvas-body a {
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 10px;
}
.offcanvas-body a:hover {
    background-color: #fce180;
}
.offcanvas-header {
    background-color: #FFDB58;
}
.sidebar-container {
    width: 250px;
    height: 100vh;
    color: #000;
    padding: 40px;
    background-color: #FFDB58;
    display: block;
}
.sidebar-container a {
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 10px;
}
.sidebar-container a:hover {
    background-color: #FFDB58;
}
